#pronot {
    margin-top: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

#pronot1 {
    margin-top: 40px;
    text-align: center;
    font-family: Open_Sans;
    margin-bottom: 30px;
   
}