html, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/*Header Início*/

header {
    background-color: #1f8537;
    height: 230px;
    width: 100%;
    border-bottom: solid black 5px;
    box-shadow: 10px 10px 10px black;
}

/*Início Section*/

h1 {
	color: #212529;
	font-size: 42px;
	font-family: "times new roman";
	padding: 10px 25px;
    text-align: center;
    margin-top: 85px;
      
}

#logo {
   margin-top: 60px; 
}

#cards1, #cards2 {
    border: solid rgb(134, 133, 133);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}


/*Início Footer*/

footer {
    background-color: #212529;
    width: 100%;
    margin-top: 40px;
    bottom:0;
    left:0;

}

footer .container .row .col-md-4 {
    text-decoration: none;
	color: white;
	font-size: 22px;
	font-family: "Open_Sans";
	padding: 10px 25px;
    text-align: left;
    margin-top: 15px;
}