/* Padrão tablets */
@media only screen and (max-width: 768px) {

    #imagens {
        display: table;
        margin-left: 115px;
    }
    #promo {
        display: none;
    }

    
}

/* Padrão smartphones */
@media only screen and (max-width: 425px) {
    #imagens {
        display: table;
        margin-left: -20px;        
    }

    #logo {
        margin-left: 40px;
    }

    #promo {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
   

    #promo {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
   

    #logo {
        height: 120px;
        width: 300px;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 350px) {
   
    #logo {
        margin-left: 10px;
    }            

    #search {
        display: none;
    }
}